<section class="h-80 p-10">
    <h1 class="font-bold flex justify-center">Aviso de privacidad</h1>
    <p>
        Rk Refrigeración no recopila datos personales a través de este sitio
        web. La información presentada tiene fines informativos sobre nuestros
        servicios. En caso de contacto directo por otros medios, los datos
        proporcionados serán utilizados únicamente para atender la solicitud
        correspondiente.
    </p>

    <a href="/" class="my-20 underline hover:text-blue-400">ir al inicio</a>
</section>
