<div class="mt-5 overflow-hidden h-20 sm:h-50 sm:mt-0 lg:h-96">
    <div class="flex flex-row w-max-full lg:gap-4">
        <div class="h-min overflow-hidden">
            <img
                class="object-cover"
                src="/public/images/trabajdor-hvac.webp"
                alt="Técnico revisando manómetros y mangueras durante el mantenimiento de un sistema de aire acondicionado "
            />
        </div>
        <div class="h-min overflow-hidden">
            <img
                src="/public/images/chiller.webp"
                alt="Unidades de aire acondicionado industrial instaladas en la azotea de un edificio con vista a la ciudad"
            />
        </div>
        <div class="h-min overflow-hidden">
            <img
                src="/public/images/equipos-de-refrigeracion.webp"
                alt="Varias unidades de aire acondicionado exteriores instaladas junto a la fachada de un edificio moderno"
            />
        </div>
    </div>
</div>
