<section class="mt-10 h-screen flex flex-col justify-end">
    <div>
        <div
            class="mb-10 px-3 sm:flex sm:flex-row sm:items-end sm:justify-between md:mt-40 animate-fade-in animation-duration-slow"
        >
            <div class="mb-10 sm:mb-0">
                <h1>Rendimiento, control y</h1>
                <h1>confianza en refrigeraci贸n.</h1>
            </div>
            <div class="spacer md:ml-10 md:mr-10"></div>
            <div>
                <p class="text-sm lg:text-base">
                    No pongas en riesgo tu operaci贸n por fallas en
                    refrigeraci贸n.
                </p>
                <p class="text-sm lg:text-base">
                    En RK Refrigeraci贸n te ofrecemos soluciones confiables,
                </p>
                <p class="text-sm">eficientes y a la medida de tu negocio.</p>
            </div>
        </div>
        <img
            class="w-screen h-70 object-cover sm:h-130"
            src="/images/rk-hero.webp"
            alt="Dos personas hvac revisando un chiler en la azotea de un edificio"
        />
    </div>
</section>

<style>
    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: clamp(3.5rem, 4vw, 5rem);
        line-height: 3.8rem;
    }
</style>
